{% extends 'base.html' %}
{% block title %}主机列表{% endblock %}
{% block content %}
<div class="container-fluid">
    <form method="POST" action="/host/apis/">
        {% csrf_token %}
        <input type="hidden" name="action" value="insert">
        <p>ip地址:<input type="text" name="ip" value="{{ ip }}"></p>
        <p>主机名:<input type="text" name="hostname" value="{{ hostname }}"></p>
        <p>组:<input type="text" name="group" value="{{ group }}"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</div>
{% endblock %}