{% extends 'base.html' %}
{% block title %}任务列表{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>欢迎使用CMDB</h1>
    <form action="/cmdb/input/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="_method" value="insert">
        <input type="hidden" name="_database" value="param">
        <input type="submit" value="增加新参数">
    </form>
    <table class="table">
        <tr>
            <th>名称</th>
            <th>目标路径</th>
            <th>格式</th>
            <th>内容</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        {% for item in params %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.path }}</td>
            <td>{{ item.format }}</td>
            <td>{{ item.content }}</td>
            <td>{{ item.created }}</td>
            <td>{{ item.updated }}</td>
            <td>
                {% for b in button %}
                <form action="{{ b.url }}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="{{ b.method }}">
                    <input type="hidden" name="_database" value="param">
                    <input type="hidden" name="_pk" value="{{ item.name }}">
                    <input type="submit" value="{{ b.submit }}">
                </form>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="/cmdb/input/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="_method" value="insert">
        <input type="hidden" name="_database" value="task">
        <input type="submit" value="增加新任务">
    </form>
    <table class="table">
        <tr>
            <th>名称</th>
            <th>目标路径</th>
            <th>格式</th>
            <th>内容</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        {% for item in tasks %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.path }}</td>
            <td>{{ item.format }}</td>
            <td>{{ item.content }}</td>
            <td>{{ item.created }}</td>
            <td>{{ item.updated }}</td>
            <td>
                {% for b in button %}
                <form action="{{ b.url }}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="{{ b.method }}">
                    <input type="hidden" name="_database" value="task">
                    <input type="hidden" name="_pk" value="{{ item.name }}">
                    <input type="submit" value="{{ b.submit }}">
                </form>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}