{% extends 'base.html' %}
{% block title %}任务列表{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>输入参数文件的内容</h1>
    <form action="{{ url }}" method="POST">
        {% csrf_token %}
        <p>名称:<input type="text" name="name" value="{{ name }}"></p>
        <p>路径:<input type="text" name="path" value="{{ path }}"></p>
        <p>格式:<input type="text" name="format" value="{{ format }}"></p>
        <p>内容:<textarea name="name">{{ content }}</textarea></p>
        <p><input type="submit" value="提交"></p>
    </form>
</div>
{% endblock %}